<div class="container mt-5">
  <h3 class="text-center text-primary">Credit-Card</h3>
<div class="form-group">
 
  <input appCreditCard type="text" class="form-control">
  <!-- <strong class="text-danger d-none">please Enter a Valid Number</strong> -->
</div>

<div class="form-group">
  <input applowerCase type="text" class="form-control">
</div>
  <p basicCss>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolore doloremque laboriosam porro explicabo nobis sit deleniti veniam nihil a est eveniet corrupti soluta, suscipit voluptate itaque nemo optio vel?</p>

<p advanceCss>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque dolorum ratione ad assumenda laudantium optio nulla alias aliquid, enim dignissimos deleniti qui? Nemo tenetur magni, reiciendis neque deleniti voluptas aspernatur!</p>

</div>



