<h3 class="text-center text-danger mt-4">Directives</h3>
<div class="container mt-4">
 
  <p basicCss>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo maxime quo eos consectetur tempore distinctio adipisci modi! Magni temporibus voluptatibus beatae explicabo, molestiae ab fugiat excepturi. Molestias, iusto quia.</p>
  <p basicCss>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo maxime quo eos consectetur tempore distinctio adipisci modi! Magni temporibus voluptatibus beatae explicabo, molestiae ab fugiat excepturi. Molestias, iusto quia.</p>
  <p basicCss>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo maxime quo eos consectetur tempore distinctio adipisci modi! Magni temporibus voluptatibus beatae explicabo, molestiae ab fugiat excepturi. Molestias, iusto quia.</p>
  <p basicCss>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo maxime quo eos consectetur tempore distinctio adipisci modi! Magni temporibus voluptatibus beatae explicabo, molestiae ab fugiat excepturi. Molestias, iusto quia.</p>
  <p basicCss>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo maxime quo eos consectetur tempore distinctio adipisci modi! Magni temporibus voluptatibus beatae explicabo, molestiae ab fugiat excepturi. Molestias, iusto quia.</p>




</div>